.navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 150px;
  z-index: 140;
  padding-top: 4vh;
  opacity: 0;
  transition: 5s;
}

.navBar_nav {
  background: rgb(196, 73, 137);
  background: linear-gradient(338deg, rgb(196, 73, 137) 21%, rgb(158, 39, 189) 77%);
  background-clip: text;
  -moz-background-clip: text;
  color: rgba(255, 255, 255, 0);
  font-family: monospace;
  font-size: 1.1rem;
  transition: 0.3s;
}
.navBar_nav:hover {
  cursor: pointer;
  filter: brightness(1.3);
  transform: scale(1.02);
}

.section_1 {
  padding: 4vh 5vw 0vh;
  height: 100vh;
  position: relative;
}
.section_1__child_1 {
  width: 100%;
  height: 100px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
}
.section_1__child_1 h1 {
  color: white;
}
.section_1__child_2 {
  border: 5px solid white;
  border-radius: 5px;
  width: 100%;
  height: 75vh;
  position: relative;
  overflow: hidden;
}
.section_1__child_2 > div {
  height: 75vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.section_1__child_2 > div > img {
  height: 75vh;
  width: 100%;
  object-fit: cover;
  filter: hue-rotate(90deg) saturate(200%) contrast(150%);
}
.section_1__child_2__div_1 {
  filter: hue-rotate(90deg) saturate(200%) contrast(150%);
}
.section_1__child_2__div_1::after, .section_1__child_2__div_1::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 500;
}
.section_1__child_2__div_1::after {
  top: 0;
  height: 14px;
}
.section_1__child_2__div_1::before {
  bottom: 0;
  height: 20px;
}
.section_1__child_2__div_2 {
  filter: hue-rotate(180deg) saturate(200%) contrast(150%);
}
.section_1__child_2__div_3 {
  filter: hue-rotate(270deg) saturate(200%) contrast(150%);
}
.section_1__child_2__div_3::after, .section_1__child_2__div_3::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 500;
}
.section_1__child_2__div_3::after {
  top: 0;
  height: 14px;
}
.section_1__child_2__div_3::before {
  bottom: 0;
  height: 20px;
}

.section_1__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 150;
  opacity: 0.3;
  pointer-events: none;
}

.section_2 {
  height: 130vh;
  padding: 5vh 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vw;
}
.section_2::after, .section_2::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20vh;
  z-index: 150;
}
.section_2::after {
  top: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}
.section_2::before {
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgb(0, 0, 0) 80%);
}

.section_2__child_1 {
  position: relative;
}
.section_2__child_1 img {
  height: 90vh;
  object-fit: contain;
  transition: 1.5s;
  transform: translateX(-60vw);
}

.section_2__child_2 {
  position: relative;
  font-size: 2.5rem;
  font-family: "Courier New", Courier, monospace;
  color: white;
  transition: 1.5s;
  transform: translateX(60vw);
}

.canvas_1 {
  transition: 2s;
  z-index: 10;
  opacity: 0;
}

.section_3 {
  width: 100%;
  height: 130vh;
  background-color: black;
  position: relative;
}

.canvas_2,
.canvas_3 {
  pointer-events: none;
  transition: 5s;
}

.intro_text_box {
  width: 50%;
  height: 100vh;
  padding-top: 40vh;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 15vh;
}

.clock_box {
  display: flex;
  column-gap: 5px;
  z-index: 120;
}

.number_box {
  position: relative;
  height: 70px;
  width: 50px;
  background-color: white;
  overflow: hidden;
  border: 1px solid black;
  transform: scale(0.9);
}

.numbers_img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.38, 0.25, 0.36, 1.11);
}

.numbers_separator_box {
  position: relative;
  color: white;
  height: 70px;
  width: 30px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_mondatelier {
  position: relative;
  color: white;
  z-index: 120;
  font-size: 5.5rem;
}

.start_tour_btn {
  position: absolute;
  z-index: 120;
  color: rgba(255, 255, 255, 0);
  background-color: black;
  top: 550px;
  left: 170px;
  font-size: 3rem;
  border: 1px solid rgb(165, 104, 177);
  padding: 11px 70px 2px;
  border-radius: 60px;
  background: rgb(196, 73, 137);
  background: linear-gradient(338deg, rgb(196, 73, 137) 21%, rgb(158, 39, 189) 77%);
  background-clip: text;
  -moz-background-clip: text;
  transition: filter 0.25s, opacity 5s;
  opacity: 0;
}
.start_tour_btn:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

.section_4 {
  width: 100%;
  height: 130vh;
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15vw;
}
.section_4::after, .section_4::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20vh;
  z-index: 150;
}
.section_4::after {
  top: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}
.section_4::before {
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgb(0, 0, 0) 80%);
}

.canvas_4 {
  transition: 2s;
  opacity: 0;
  height: 130vh;
}

.section_4__title {
  position: relative;
  color: rgb(214, 203, 188);
  font-size: 3.7rem;
  font-family: "Chokokutai";
  transition: 1s;
  transform: translateX(-60vw);
}

.child_4 {
  position: relative;
  transform: translateX(60vw);
  transition: 1s;
}
.child_4 img {
  height: 90vh;
  object-fit: contain;
  border: 2px solid rgb(214, 203, 188);
  border-radius: 5px;
  box-shadow: 0px 0px 15px 7px rgba(255, 255, 255, 0.287);
}

.section_5 {
  height: 130vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_5 img {
  height: 80vh;
  z-index: 20;
}

.section_5__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.section_6 {
  height: 130vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
}
.section_6::after, .section_6::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20vh;
  z-index: 150;
}
.section_6::after {
  top: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}
.section_6::before {
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgb(0, 0, 0) 80%);
}

.sec_6__painting {
  height: 75vh;
  z-index: 20;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: content-box;
  box-shadow: 0px 0px 23px 17px rgba(0, 0, 0, 0.852);
}

.section_6__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
  background-color: black;
}

.section_6__canvas_2 {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.sec_6__bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
}

.sec_6__titel {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 200;
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  transform: scale(0) translateY(10vh);
  transition: 0.7s;
}

.section_7 {
  height: 130vh;
  width: 100%;
  position: relative;
  background-color: rgb(24, 24, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  background-color: rgb(180, 180, 171);
  opacity: 0;
  transition: 1s;
}
.section_7 img {
  height: 75vh;
  display: none;
}
.section_7::after, .section_7::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20vh;
  z-index: 150;
}
.section_7::after {
  top: 0;
  background: rgb(180, 180, 171);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(180, 180, 171) 100%);
}
.section_7::before {
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgb(180, 180, 171) 80%);
}

.section_7__canvas {
  position: absolute;
  top: 20vh;
  left: 10vw;
  aspect-ratio: 1/1.5;
  height: 100vh;
  opacity: 1;
  z-index: 50;
}

.section_7__canvas_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
  opacity: 1;
  z-index: 40;
  opacity: 0.3;
}

.section_7__canvas_3 {
  position: absolute;
  top: 40%;
  right: 0;
  width: 45%;
  height: 19vh;
  opacity: 1;
  z-index: 45;
  opacity: 1;
  border-radius: 3px;
}

.section_7__shadow_div {
  position: absolute;
  top: 20vh;
  left: 10vw;
  aspect-ratio: 1/1.35;
  height: 90vh;
  z-index: 555;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 23px 17px rgba(0, 0, 0, 0.852);
  border: 4px solid black;
  border-radius: 5px;
  transform: scale(1.01);
}

.section_8 {
  height: 130vh;
  width: 100%;
  position: relative;
  background-color: rgb(24, 24, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
.section_8::after, .section_8::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20vh;
  z-index: 150;
}
.section_8::after {
  top: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}
.section_8::before {
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgb(0, 0, 0) 80%);
}

.section_8__canvas {
  width: 80%;
  height: 80vh;
  opacity: 1;
  z-index: 50;
  border: 6px solid black;
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.666);
  filter: brightness(0.9) saturate(1.1) contrast(1.4);
}

.sec_8__bg_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 130vh;
  width: 100%;
  z-index: 20;
  filter: brightness(0.3) blur(5px);
}

.sec_8__rep_img {
  position: absolute;
  top: 25vh;
  left: 10%;
  width: 80%;
  height: 80vh;
  z-index: 100;
  filter: brightness(0.4);
  transition: 0.3s;
  opacity: 1;
}

.sec_8__switch_box {
  position: absolute;
  top: 50%;
  right: 3vw;
  width: 50px;
  height: 200px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec_8__switch_box img {
  z-index: 140;
  pointer-events: none;
  opacity: 0.5;
}

.sliderbar__container {
  width: 40px;
  height: 20px;
  border: none;
  position: relative;
  z-index: 100;
  transform: scale(2.2) rotate(90deg);
}

.slider__mid {
  z-index: 10;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(103, 103, 95);
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: relative;
}
.slider__mid:hover {
  cursor: pointer;
}

.circle__l {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  z-index: 4;
  appearance: none;
}

.circle__r {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.slider__ball {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background: rgb(107, 116, 145);
  background: linear-gradient(140deg, rgb(107, 116, 145) 0%, rgb(33, 36, 52) 100%);
  border: 1px solid rgba(12, 11, 56, 0.799);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.77);
  z-index: 15;
  transition: 0.2s ease-out;
  pointer-events: none;
}

.sec_8__titel {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 200;
  font-size: 4rem;
  transform: scale(0) translateY(10vh);
  transition: 0.7s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: rgb(255, 255, 253);
  font-family: Papyrus, fantasy;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

input:focus {
  outline: none;
}

.main_div {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
}

.loading_div,
.fade_out_modal_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: black;
  opacity: 1;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  pointer-events: none;
}

.footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: end;
  color: rgb(165, 104, 177);
  font-size: 0.8rem;
  font-weight: 600;
  padding-right: 20px;
  opacity: 0;
  transition: 5s;
}

.absoluteFullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.absoluteLargeFullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
}